.login-card{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

span{
    color: white;
}

.button button {
    background-color: #007E3E;
}

mat-hint{
    font-size: 10px;
}

mat-form-field:first-child{
    margin-bottom: 25px;
}